* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    padding: 1.5rem;
    background: #daefff;
    clip-path: polygon(900% 0, 50% 0, 0 0,0 90%);
    background-image: url(/img/line.png);
}
.navh {
    display: flex;
    justify-content: space-between;
}
.navh h2 {
    color: #28286d;
}
.links {
    list-style: none;
    display: flex;
    gap: 45px;
    align-items: center;
}
.links a {
    text-decoration: none;
    color: #282B6D;
    font-weight: 700;
    color: #28286d;
}
.links .lin {
    padding-left: 120px;
}
.links .su {
    background: #fff;
    color: #282B6D;
    border-radius: 12px;
    padding: 12px 24px;
}
/* END OF NAVBAR */

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    height: 550px;
    padding-bottom: 89px;
}
.head .pg {
    color: #FE9168;
    line-height: 20.1px;
    font-weight: 500;
}
.head h1 {
    font-size: 800;
    font-size: 60px;
    line-height: 80px;
    color: #28286d;
}
.head span {
    color: #5735D2;
    border-bottom: 3px solid #5735D2;
}
.head .inn {
    color: #9AA5B6;
    line-height: 32px;
    padding-top: 25px;
}
.header .headerlink {
    display: flex;
    gap: 45px;
    padding-top: 30px;
    list-style: none;
}
.headerlink a {
    text-decoration: none;
    font-weight: 700;
}
.lm {
    background: #fff;
    color: #5735D2;
    border-radius: 12px;
    padding: 18px 32px;
}
.gs {
    background: #5735D2;
    color: #fff;
    border-radius: 12px;
    padding: 18px 32px;
}
.shape {
    position: absolute;
    z-index:2;
    top: 140px;
    left: 700px;
}
.cic {
    display: flex;
    gap: 0.2rem;
    height: 40.97px;
    background: #fff;
    border-top-left-radius: 10px;
}
.circle {
    background: #E5E5E5;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    margin-top: 1rem;
    margin-left: 0.5rem;
}
.box {
    background: #DDE3EB;
    height: 550px;
    width: 560px;
}
/* EMD OF HEADER */

.body1 {
    padding: 1.5rem;
}
.bodyt {
    text-align: center;
    line-height: 50px;
}
.bodyt .first {
    color: #FE9168;
}
.bodyt h2 {
    font-size: 40px;
    font-weight: 800;
    color: #28286d;
}
.bodyt .second {
    color: #9AA5B6;
}
.rect {
    display: flex;
    gap: 6rem;
    padding-top: 30px;
}
.rec {
    background: #D7DCE5;
    height: 45px;
    width: 250px;
}
/* END OD THS SECTION */

.body3 {
    padding: 1.5rem;
    /* padding-top: 50px; */
}
.texts {
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    padding-top: 100px;
}
.ads {
    line-height: 50px;
}
.ads p {
    color: #FE9168;
}
.ads h2 {
    color: #28286d;
    font-weight: 800;
    font-size: 40px;
}
.wh {
    padding-top: 100px;
    color: #9AA5B6;
}
.allgrid {
    display: flex;
    justify-content: space-between;
}
.gridp {
    background: #F8FAFF;
    margin-top: 70px;
    padding-top: 40px;
    width: 350px;
    height: 300px;
}
.grid {
    padding-left: 1rem;
    line-height: 26px;
}
.grid img {
    padding-bottom: 30px;
}
.grid h2 {
    color: #282B6D;
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
}
.grid p {
    color: #9AA5B6;
}
.lea {
    line-height: 80px;
    font-weight: 700;
}
.lea a {
    text-decoration: none;
    color: #5735D2;
    font-weight: 700;
}
/*  END OF BODY3*/

.body4 {
    padding: 20rem;
}
.bside {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.side1 {
    margin-top: 1rem;
    width: 510px;
    height: 495px;
    background: #fff;
    padding: 20px;
    box-shadow: #f0eaea 2px 4px 2px 2px;
}
.body4 {
    padding: 1rem;
}
.p1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.p1 p {
    font-size: 18px;
    font-weight: 800;
    color: #9AA5B6;
}
.dot {
    display: flex;
    gap: 0.2rem;
    padding-top: 0.4rem;
}
.dot .dots {
    gap: 2rem;
    height: 5px;
    width: 5px;
    background: #9aa580;
    border-radius: 50px;
    gap: 5rem;
}
.p2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2rem;
    background: #F7F8FA;
    border-radius: 12px;
    height: 95px;
    width: 502px;
    box-shadow: #f0eaea 2px 4px 2px 2px;
}
.p2 p {
    color: #9AA5B6;
    font-weight: 500;
}   
.p2 h2 {
    font-weight: 800;
    font-size: 24px;
    color: #282B6D;
}

.rate {
    display: flex;
    background: #fff;
    height: 60px;
    width: 160px;
    gap: 0.5rem;
    border-radius: 10px;
    text-align: center;
}

.uimg {
    padding-top: 0.8rem;
    padding-left: 2.5rem;

}

.rate p {
    padding-top: 1rem;
    font-weight: 700;
    color: #282B6D;
}

.arrow {
    padding-top: 0.8rem;
}

.p3 {
    display: flex;
    justify-content: space-between;
    line-height: 45px;
    color: black;
}

.p3 span {
    font-weight: 500;
    font-size: 20px;
    padding-left: 1rem;
}

.p3 .tot {
    color: #282B6D
}

.cn {
    background: #FE9168;
    border-radius: 12px;
    margin-top: 15px;
    width: 500px;
    height: 50px;
    text-align: center;
    padding-top: 1rem;
}

.cn a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-top: 9rem;
    padding-top: 5rem;
}

.do {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #9AA5B6;
    padding-top: 1rem;
    gap: 0.2rem;
}

.do p {
    padding-top: 0.2rem;
}

.do span {
    font-weight: 400;
    color: #282B6D;
    padding-left: 0.2rem;
}

.side2 .first1 {
    font-weight: 500;
    color: #FE9168;
    line-height: 50px;
}

.side2 h2 {
    color: #282B6D;
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 15px;
}

.side2 .first2 {
    color: #9AA5B6;
    line-height: 35px;
    margin-bottom: 20px;
}

.side2 .first3 {
    color: #9AA5B6;
    line-height: 35px;
    margin-bottom: 45px;
}

.side2link {
    display: flex;
    gap: 2rem;
    padding-left: 0.5rem;
    margin-bottom: 45px;
}

.side2link a {
    text-decoration: none;
    color: #282B6D;
    font-weight: 700;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
}

.dow {
    display: flex;
}
/* END OF BODY4 */

.body5 {
    padding: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 6rem;
}
.bdy5 {
    display: flex;
    justify-content: space-between;
}

.part1 {
    margin-bottom: 3rem;
}

.prt1 .prof {
    color: #FE9168;
    font-weight: 500;
    margin-bottom: 1rem;
}

.prt1 h2 {
    font-weight: 800;
    font-size: 40px;
    color: #282B6D;
    margin-bottom: 1rem;
}

.prt1 .prof2 {
    color: #9AA5B6;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 1rem;
}

.prt1 .prof3 {
    color: #9AA5B6;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 1rem;
}

.prt1 .rob {
    color: #282B6D;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 3.8rem;
}

.prt1link a {
    text-decoration: none;
    font-weight: 700;
}

.lmore {
    background: #5735D2;
    color: #fff;
    padding: 18px 36px;
    border-radius: 10px;
}

.part2 {
    height: 540px;
    width: 485px;
    border-radius: 10px;
    box-shadow: #bdb6b6 2px 2px 4px 2px;
    padding: 1.5rem;
}

.part2bdy {
    margin-top: -3.8rem;
}

.invoice {
    text-align: center;
    padding-top: 1.5rem;
}

.invo1 span {
    font-weight: 800;
    font-size: 18px;
    color: #282B6D;
}

.invo1 p {
    color: #9AA5B6;
    line-height: 1.8rem;
    padding-bottom: 1.5rem;
}

.IT {
    color: #9AA5B6;
    padding-bottom: 1rem;
}

.emilia {
    background: #f3f3f7;
    width: 430px;
    height: 80px;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.1rem;
    padding: 1rem 1rem 0.7rem 0.5rem;
    box-shadow: #f0eaea 2px 4px 2px 2px;
}
.emilia1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 0.5rem;
}
.emilia1 .es {
    color: #282B6D;
    font-size: 18px;
    font-weight: 700;
}
.emilia p {
    color: #9AA5B6;
}
.emilia1 .suc {
    color: #14C186;
}
.ito {
    box-shadow: #f0eaea 2px 4px 2px 2px;
    padding: 0.5rem;
    border-radius: 10px;
    width: 460px;
    margin-left: 0.5rem;
}
.eml {
    padding: 0px;
    width: 400px;
}
.issh {
    margin: 0.7rem 0;
}
.iss {
    display: flex;
    justify-content: space-between;
    color: #9AA5B6;
    padding: 0.7rem 0.7rem;
}
.visa {
    display: flex;
    gap: 1rem;
}
.visa .vis {
    margin-top: -0.5rem;
}

.visa p {
    margin-top: -0.1rem;
}

/* END OF BODY5 */
.body6 {
    padding: 5vh 0vw;
    background: url(./img/Vector (3).png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    height: 500px;
    margin-bottom: 10rem;
}
.part1 {
    text-align: center;
}
.hu {
    color: #FE9168;
    font-weight: 500;
}
.milli {
    font-size: 40px;
    font-weight: 800;
    color: #282B6D;
    line-height: 70px;
}
.feedb {
    color: #9AA5B6;
    line-height: 30px;
}
.circle3 {
    display: flex;
    justify-content: space-around;
}
.veryh:has(p, h3) {
    color: #9AA5B6;
    line-height: 30px;
    margin-top: -2rem;
}
.veryh h1 {
    color: #282B6D;
    font-weight: 700;
    margin-top: 4vh;
    margin-bottom: 1vh;
}
/* END OF BODY6 */

.footer {
    background: #F0F6FF;
    background-image: url(img/line.png);
    height: 68vh;
    text-align: center;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 130px;
}
.footer .pro {
    color: #FE9168;
    font-weight: 500;
}
.footer h2 {
    font-size: 40px;
    font-weight: 800;
    color: #282B6D;
    padding-bottom: 20px;
}
.footer p {
    color: #9AA5B6;
    line-height: 25px;
    padding-bottom: 30px;
}
.form img {
    margin: 15px;
}
.form {
    display: flex;
    align-items: center;
}

.ftr {
    background: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 3rem;
    height: 50px;
    width: 425px;
    border: 1px solid rgb(223, 211, 211);
}
.form input {
    border: none;
    outline: none;
}
.form input[type=text] {
    color: rgb(17, 16, 16);
    font-weight: 500;
    font-size: 18px;
}
.form button {
    background: #5735D2;
    color: #fff;
    border-radius: 10px;
    padding: 12px 32px;
    border: none;
    margin-left: 1rem;
}
.footer2 {
    padding: 1.5rem;
}
.footer2b {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 1px solid rgb(225, 209, 209);
}
.contentb {
    padding-bottom: 40px;
}
.contentb h4 {
    color: #282B6D;
    font-weight: 700;
    height: 40px;
}
.contentb .stay {
    margin-top: -4px;
}
.contentb p {
    color: #9AA5B6;
    font-weight: 500;
    height: 40px;
}
.contentb span {
    line-height: 40px;
}
.contentb .hello {
    padding-top: 39px;
}
.enterm {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    height: 50px;
    width: 230px;
    margin-top: 25px;
    outline: 1px solid rgb(189, 187, 187);
}
.enterm .img6 {
    margin: 8px;
}
.enterm input {
    border: none;
    outline: none;
    width: 140px;
    height: 30px;
}
.enterm input[type=text] {
    font-size: 18px;
    font-weight: 459;
}
.send {
    background: blue;
    height: 25px;
    width: 25px;
    border-radius: 8px;
    margin-left: 10px;
    padding: 5px;
}
.footernav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9AA5B6;
    margin-top: 10px;
}
.dine {
    display: flex;
    align-items: center;
}
.dine h3 {
    color: #282B6D;
    font-size: 24px;
    font-weight: 700;
    margin: 5px;
}
.hamburger{
    display: ;
    /* padding-right: 40px; */
    /* margin-top: 80px; */
}
@media only screen and (max-width: 800px){
    .links{
        font-size: 8px;
    }
    .navbar{
        height: 900px;
    }
    .header{
        padding-left: 10px;
    }
 .links .li{
    display: none;
 }
    .shape{
        display: none;
    }
    .rect .rec{
        height: 20px;
        width: 40px;
    }
    .texts{
        display: flex;
        flex-direction: column;
    }
    .texts h2{
        font-size: 34px;
    }
    .texts .wh{
        margin-top: -80px;
    }
    .allgrid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bside{
        display: flex;
        flex-direction: column;
    }
    .bside .side1, .p2, .cn{
        width: 380px;
    }
    .side2{
        margin-top: 80px;
    }
    .side2 h2{
        font-size: 30px;
    }
    .side2 p{
        font-size: 12.9px;
    }
    .bdy5{
        display: flex;
        flex-direction: column;
    }
    .prt1{
        margin-bottom: 190px;
    }
    .prt1 h2{
     font-size: 30px;
    }
    .prt1 p{
        font-size: 14px;
    }
    .part2, .emilia{
        width: 400px;
    }
    .ito{
        width: 380px;
    }
    .emilia{
        width: 360px;
    }
    .milli{
        font-size: 30px;
    }
    .body6{
        margin-bottom: -60px;
    }
    .veryh p{
        font-size: px;
    }
    .eclipse{
        display: none
    }
    .footer h2{
        font-size: 28px;
    }
    .ftr{
        width: px;
    }
}
